---
import { formatDate } from "~/utils";
interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<li class="flex mt-2 text-3.5">
  <span class="italic grow-0 shrink-0 basis-24">
    <time datetime={`${formatDate(post.data.pubDate)}`}>
      {formatDate(post.data.pubDate)}
    </time>
  </span>
  <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
</li>
