---
import { formatDate } from "~/utils";
interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="heti">
  <header>
    <div class="mt-2 text-3.5">
      <time datetime={`${formatDate(post.data.pubDate)}`}>
        {formatDate(post.data.pubDate)}
      </time>
      <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
    </div>
  </header>
  <slot />
</article>
